#attendance-records {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  padding: 20em;
  border-radius: 5em;
  margin: 20em;
  width: 100%;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

.record {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.record p {
  margin: 5px 0;
}

.record button {
  margin-right: 5px;
}

/* Adjust the styling for the links */
a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}

/* Center the "Create Attendance" button */
.create-attendance-button {
  display: flex;
  justify-content: center;
}